<!DOCTYPE html>
<html>
<head>
	<title>Get your code</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
  <style>
    .container {
      padding-top: 2rem;
      margin: 10 auto;
	  text-align: center;
    }
  </style>
</head>
<body>
<div class="container">
    <div>
    Error while downloading
    </div>
    <div>
        <button type="button" class="btn btn-link">
            <a href="home">Try again</a>
        </button>
    </div>
</div>
</body>
</html>